<?xml version="1.0"?>
<config>
    <modules>
        <Magestio_Cleaner>
            <version>1.0.0</version>
        </Magestio_Cleaner>
    </modules>
    <global>
        <helpers>
            <cleaner>
                <class>Magestio_Cleaner_Helper</class>
            </cleaner>
        </helpers>
        <models>
            <cleaner>
                <class>Magestio_Cleaner_Model</class>
            </cleaner>
        </models>
    </global>
    <crontab>
        <jobs>
            <magestio_cleaner_images>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cleaner/images::run</model>
                </run>
            </magestio_cleaner_images>
            <magestio_cleaner_sessions>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cleaner/sessions::run</model>
                </run>
            </magestio_cleaner_sessions>
            <magestio_cleaner_reports>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cleaner/reports::run</model>
                </run>
            </magestio_cleaner_reports>
            <magestio_cleaner_logfiles>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cleaner/logfiles::run</model>
                </run>
            </magestio_cleaner_logfiles>
            <magestio_cleaner_database>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cleaner/database::run</model>
                </run>
            </magestio_cleaner_database>
            <magestio_cleaner_urls>
                <schedule>
                    <cron_expr>0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cleaner/urls::run</model>
                </run>
            </magestio_cleaner_urls>
        </jobs>
    </crontab>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magestio_cleaner translate="title" module="cleaner">
                                            <title>Magestio - All</title>
                                        </magestio_cleaner>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Magestio_Cleaner>
                    <files>
                        <default>Magestio_Cleaner.csv</default>
                    </files>
                </Magestio_Cleaner>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <magestio_cleaner>
            <general>
                <log>magestio_cleaner.log</log>
            </general>
            <images>
                <enabled>1</enabled>
                <import>1</import>
            </images>
            <sessions>
                <enabled>1</enabled>
                <lifetime>30</lifetime>
            </sessions>
            <reports>
                <enabled>1</enabled>
                <lifetime>30</lifetime>
            </reports>
            <logfiles>
                <enabled>1</enabled>
                <frequency>M</frequency>
            </logfiles>
            <database>
                <enabled>1</enabled>
                <tables>dataflow_batch_export,dataflow_batch_import,log_customer,log_quote,log_summary,log_summary_type,log_url,log_url_info,log_visitor,log_visitor_info,log_visitor_online,report_viewed_product_index,report_compared_product_index,report_event,catalog_compare_item</tables>
                <frequency>M</frequency>
            </database>
            <urls>
                <enabled>1</enabled>
                <except>0</except>
            </urls>
        </magestio_cleaner>
    </default>
</config>